#action,
#action-go
{
  font-size: 14pt;
}

#action {
  border: #888 solid 1px;
  margin-right: 5px;
  padding: 5px;
  width: 520px;
}

#action-go {
  padding: 2px 0;
  width: 100px;
}

#actions {
  font-size: 8pt;
  white-space: nowrap;
}

#actions a {
  font-weight: bold;
}

#actions a:hover {
  text-decoration: underline;
}

#avatar {
  float: right;
  padding: 0 1px 0 5px;
}

#avatar img {
  border: #546043 solid 1px;
}

#body,
#header,
#footer
{
  margin: 0 auto;
  width: 650px;
}

#body {
  color: #222;
}

#current-frame p.image {
  padding: 5px 0;
  text-align: center;
}

#current-frame p.text {
  font-size: 15pt;
  padding: 5px;
}

#footer {
  border-top: #888 solid 1px;
  color: #888;
  font-size: 8pt;
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
}

#footer a {
  color: #888;
}

#header {
  background: #c4df9b;
  border-bottom: #444 solid 3px;
  color: #44661e;
  height: 34px;
  line-height: 1;
  position: relative;
}

#header a {
  color: #44661e;
  text-decoration: none;
}

#log {
  font-family: monospace;
  font-size: 10pt;
  height: 150px;
  margin-top: 1em;
  overflow: auto;
}

#log p {
  border-top: #ddd solid 1px;
  margin: 2px 0 0;
  padding-top: 2px;
}

#log p:first-child {
  border: 0;
}

#log p.result {
  color: #070;
}

#log p.command {
  color: #b00;
}

#user {
  padding: 2px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 500px;
}

#username {
  font-size: 12pt;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  background: #fff;
}

body, button, input, textarea {
  font: 12pt/1.2 "Trebuchet MS", sans-serif;
}

div.info a.close {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #777;
    margin-left: .2em;
    padding: 0 .3em;
    text-decoration: none;
}

div.info a.close:hover {
    background: #000;
    color: #fff;
}

h1 {
  font-size: 19pt;
  font-weight: normal;
  padding-top: 4px;
  text-indent: 5px;
}

h2 {
  background: #ffb;
  font-size: 11pt;
  padding: 2px;
}

h2, h3, h4 {
  color: #444;
}

h3, h4 {
  font-weight: normal;
}

h3 {
  margin: 1em 0 .2em;
}

img {
  border: 0;
}

p {
  margin-bottom: 1em;
}

p.text {
  font-family: monospace;
}
