#action, #action-go {
    font-size: 19px;
}

#action {
    margin-right: 5px;
    width: 510px;
}

#action-go {
    float: none;
    width: 100px;
}

#actions {
    float: right;
    font-size: 16px;
    line-height: 28px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
}

#actions li {
    border-right: #692 solid 1px;
    float: left;
    text-align: center;
    width: 74px;
}

#actions li a {
    border-right: #fff solid 1px;
    display: block;
    height: 30px;
}

#avatar {
    float: right;
    padding: 0 1px 0 5px;
}

#avatar img {
    border: #546043 solid 1px;
}

#body,
#header,
#footer
{
    margin: 0 auto;
    width: 650px;
}

#body {
    background: #fff;
    color: #222;
    padding-bottom: 20px;
}

#current-frame {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 10px;
    padding: 15px;
    /* Due to height calculations, this element must have a width set. */
    width: 600px;
}

#current-frame h3,
#current-frame p
{
    margin-left: 0;
    margin-right: 0;
}

#current-frame h3 {
    margin-top: 0;
}

#current-frame p.image {
    text-align: center;
}

#current-frame div.text,
textarea
{
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    font-size: 14pt;
}

#current-frame div.text em {
    font-style: normal;
    text-decoration: underline;
}

#current-frame div.text p:last-child {
    margin-bottom: 0;
}

#footer {
    background: #fff;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    clear: both;
    color: #888;
    font-size: 8pt;
    text-align: center;
}

#footer a {
    color: #888;
}

#footer p {
    border-top: #888 solid 1px;
    margin: 0 10px;
    padding: 15px 0;
}

#header {
    background: #c4df9b url(head.gif) repeat-x;
    color: #44661e;
    height: 34px;
    line-height: 1;
    position: relative;
}

#header a {
    color: #44661e;
    text-decoration: none;
}

#log {
    color: #555;
    display: none; /* TODO: Figure out a better way to show log. */
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10pt;
    height: 150px;
    margin-top: 1em;
    overflow: auto;
}

#log div {
    border-top: #ddd solid 1px;
    margin: 2px 0 0;
    padding-top: 2px;
}

#log div.result {
    color: #070;
}

#log div.command {
    color: #b00;
}

#log > div:first-child {
    border: 0;
}

#log div div {
    border: 0;
    margin: 0;
    padding: 0;
}

#log div div p {
    margin-bottom: 1em;
}

#log div div p:last-child {
    margin-bottom: 0;
}

#log div p {
    margin: 0;
}

#log p.entering {
    color: #070;
}

#notifications p {
    margin-bottom: .3em;
}

#notifications p a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 18px;
    outline: 0;
    padding: 5px 15px;
    text-decoration: none;
}

#notifications p.error a {
    background: #b33;
}

#notifications p.hint a {
    background: #37c;
}

#notifications p.success a {
    background: #8a6;
}

#notifications p a span.close {
    visibility: hidden;
}

#notifications p a:hover span.close {
    visibility: visible;
}

#notifications span.close {
    float: right;
    font-size: 140%;
    line-height: .9;
    padding: 0 2px;
}

#page-name {
    background: #444;
    color: #eee;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    font-size: 11pt;
    margin-bottom: 10px;
    padding: 2px 6px 4px;
}

#user {
    padding: 2px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 500px;
}

#username {
    float: right;
    font-size: 18px;
    line-height: 28px;
    padding-left: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #358;
}

body, button, input {
    font: 12pt/1.3 "Trebuchet MS", sans-serif;
}

/*
 * dom-loading
 * Class that is removed once the DOM has loaded. This is so that CSS can be
 * used to visually hide elements that will be removed by the JavaScript code
 * later on.
 */
body.dom-loading #home-page {
    display: block;
}

body.dom-loading div.page {
    display: none;
}

body.loading #action {
    background-image: url(loading2.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

body.loading h1 {
    background: url(loading.gif) no-repeat 130px 50%;
}

body.scheme-1 #current-frame {
    background: #000;
    color: #eee;
}

body.scheme-1 #current-frame div.text strong,
body.scheme-1 #current-frame h3
{
    color: #0f0;
}

body.scheme-1 #current-frame div.text strong {
    font-weight: normal;
}

body.scheme-2 #current-frame {
    background: #fff;
    border: #c4df9b solid 2px;
    color: #111;
    width: 626px;
}

body.scheme-2 #current-frame div.text strong,
body.scheme-2 #current-frame h3
{
    color: #44661e;
}

body.scheme-3 #current-frame {
    background: #22344a;
    color: #fff;
}

body.scheme-3 #current-frame div.text strong,
body.scheme-3 #current-frame h3
{
    color: #55aaf0;
}

body.scheme-3 #current-frame div.text strong {
    font-weight: normal;
}

button,
input.password,
input.text
{
    font-size: 17px;
}

button {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
    border: 1px solid #999;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    float: right;
    padding: 5px 0;
    width: 160px;
}

button:active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#ddd));
}

div.info {
    border-bottom: #ddd solid 1px;
    margin: 0 10px;
    overflow: auto;
}

h1 {
    font-size: 25px;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    text-indent: 5px;
}

h3 {
    clear: left;
    color: #444;
    font-weight: normal;
    margin: 1em 10px .2em;
}

img {
    border: 0;
}

input.password,
input.text,
textarea
{
    border: #888 solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    padding: 5px;
    width: 458px;
}

label {
    color: #444;
    float: left;
    font-size: 17px;
    line-height: 34px;
    width: 160px;
}

ol, ul {
    padding-left: 30px;
}

ol.object-list, ul.object-list {
    font-size: 80%;
}

p {
    margin: 0 10px 1em;
}

p.field.disabled label {
    color: #888;
}

p.field {
    clear: left;
    min-height: 34px;
    margin-bottom: .5em;
}

p.field span {
    display: block;
    font-size: 13px;
    line-height: 1.1;
    color: #888;
}

p.head {
    margin-bottom: 0;
}

textarea {
    clear: left;
    float: none;
    width: 618px;
}
