#action,
#action-go
{
    font-size: 19px;
}

#action {
    border: #888 solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 5px;
    padding: 5px;
    width: 520px;
}

#action-go {
    padding: 2px 0;
    width: 100px;
}

#actions {
    float: right;
    font-size: 16px;
    line-height: 28px;
    list-style: none;
    margin: 0;
    white-space: nowrap;
}

#actions li {
    border-right: #692 solid 1px;
    float: left;
}

#actions li a {
    border-right: #fff solid 1px;
    display: block;
    height: 30px;
    padding: 0 10px;
}

#avatar {
    float: right;
    padding: 0 1px 0 5px;
}

#avatar img {
    border: #546043 solid 1px;
}

#body,
#header,
#footer
{
    margin: 0 auto;
    width: 650px;
}

#body {
    color: #222;
}

#current-frame {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px;
    /* Due to height calculations, this element must have a width set. */
    width: 620px;
}

#current-frame h3 {
    margin-top: 0;
}

#current-frame p.image {
    text-align: center;
}

#current-frame div.text {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    font-size: 14pt;
}

#current-frame div.text em {
    font-style: normal;
    text-decoration: underline;
}

#current-frame div.text p:last-child {
    margin-bottom: 0;
}

#footer {
    border-top: #888 solid 1px;
    color: #888;
    font-size: 8pt;
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
}

#footer a {
    color: #888;
}

#header {
    background: #c4df9b url(head.gif) repeat-x;
    color: #44661e;
    height: 34px;
    line-height: 1;
    position: relative;
}

#header a {
    color: #44661e;
    text-decoration: none;
}

#log {
    color: #555;
    display: none; /* TODO: Figure out a better way to show log. */
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10pt;
    height: 150px;
    margin-top: 1em;
    overflow: auto;
}

#log div {
    border-top: #ddd solid 1px;
    margin: 2px 0 0;
    padding-top: 2px;
}

#log div.result {
    color: #070;
}

#log div.command {
    color: #b00;
}

#log > div:first-child {
    border: 0;
}

#log div div {
    border: 0;
    margin: 0;
    padding: 0;
}

#log div div p {
    margin-bottom: 1em;
}

#log div div p:last-child {
    margin-bottom: 0;
}

#log div p {
    margin: 0;
}

#log p.entering {
    color: #070;
}

#notifications p {
    margin-bottom: .3em;
}

#notifications p a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 18px;
    outline: 0;
    padding: 5px 15px;
    text-decoration: none;
}

#notifications p.error a {
    background: #b33;
}

#notifications p.error a:hover {
    background: #c00;
}

#notifications p.success a {
    background: #8a6;
}

#notifications p.success a:hover {
    background: #3a2;
}

#page-name {
    background: #444;
    color: #eee;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    font-size: 11pt;
    margin-bottom: 1em;
    padding: 2px 6px 4px;
}

#user {
    padding: 2px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 500px;
}

#username {
    float: right;
    font-size: 18px;
    line-height: 28px;
    padding-left: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #fff;
}

body, button, input, textarea {
    font: 12pt/1.3 "Trebuchet MS", sans-serif;
}

body.scheme-1 #current-frame {
    background: #000;
    color: #eee;
}

body.scheme-1 #current-frame div.text strong,
body.scheme-1 #current-frame h3
{
    color: #0f0;
}

body.scheme-1 #current-frame div.text strong {
    font-weight: normal;
}

body.scheme-2 #current-frame {
    background: #fff;
    border: #c4df9b solid 2px;
    color: #111;
    width: 616px;
}

body.scheme-2 #current-frame div.text strong,
body.scheme-2 #current-frame h3
{
    color: #44661e;
}

body.scheme-3 #current-frame {
    background: #22344a;
    color: #fff;
}

body.scheme-3 #current-frame div.text strong,
body.scheme-3 #current-frame h3
{
    color: #55aaf0;
}

body.scheme-3 #current-frame div.text strong {
    font-weight: normal;
}

div.info {
    border-bottom: #ddd solid 1px;
}

div.info a.close {
    background: #fee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #800;
    margin-left: .2em;
    padding: 0 .3em;
    text-decoration: none;
}

div.info a.close:hover {
    background: #000;
    color: #fff;
}

h1 {
    font-size: 25px;
    font-weight: normal;
    padding-top: 4px;
    text-indent: 5px;
}

h3, h4 {
    color: #444;
    font-weight: normal;
}

h3 {
    margin: 1em 0 .2em;
}

img {
    border: 0;
}

p {
    margin-bottom: 1em;
}
